<div class="container container-fluid">
    <h3 class="d-flex justify-content-center">Prueba Angular, net core entity Frmk etc..Freddy Sanchez</h3>
    <h3 class="d-flex justify-content-center">Administración de Libros</h3>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="Libro" class="m-1 btn btn-light btn-outline-primary">Admin Libros</button>
            </li>
            <li class="nav-item">
                <button routerLink="Autor" class="m-1 btn btn-light btn-outline-primary">Admin Autores</button>
            </li>            
            <li class="nav-item">
                <button routerLink="Editorial" class="m-1 btn btn-light btn-outline-primary">Admin Editorial</button>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
