<div class="form form-group row">
    <label for="" class="col-sm-2 col-form-label">Nombre Editorial</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="nombreEditorial" placeholder="Ingresa nombre de editorial" required maxlength="50" minlength="50">
    </div>
    <label for="" class="col-sm-2 col-form-label">Dirección Editorial</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="direccionEditorial" placeholder="Ingresa dirección de editorial" required maxlength="100">
    </div>
    <label for="" class="col-sm-2 col-form-label">Telefono Editorial</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="telefonoEditorial" placeholder="Ingresa telefono de editorial" required maxlength="100">
    </div>
    <label for="" class="col-sm-2 col-form-label">E-Mail Editorial</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="correoEditorial" placeholder="Ingresa E-Mail de editorial" required maxlength="100">
    </div>
    <label for="" class="col-sm-2 col-form-label">Maximo de libros a registrar</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="maxLibRegistrado" placeholder="Numero de libros máximos a registrar?" required maxlength="2">
    </div>
</div>

<button (click)="addEditorial()" *ngIf="ed.IdEditorial==0" class="btn btn-primary">Ingresar</button>
<button (click)="updtEditorial()" *ngIf="ed.IdEditorial!=0" class="btn btn-success">Editar</button>
